<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.leaf.archive.mapper.IArchiveMapper">

	<!-- ArchiveVO와 데이터베이스 컬럼명을 일치시켜주는 resultMap인 ArchiveMap 선언 -->
	<resultMap type="com.spring.leaf.archive.command.ArchiveVO" id="ArchiveMap">
		<id property="archiveNo" column="archive_NO" />
		<result property="archiveTitle" column="archive_title"/>
		<result property="archiveWriter" column="archive_writer"/>
		<result property="archiveContent" column="archive_content"/>
		<result property="archiveDate" column="archive_date"/>
		<result property="archiveViews" column="archive_views"/>
	</resultMap>
	
	<!-- ArchiveFileVO와 데이터베이스 컬럼명을 일치시켜주는 resultMap인 ArchiveFileMap 선언 -->
	<resultMap type="com.spring.leaf.archive.command.ArchiveFileVO" id="ArchiveFileMap">
		<id property="archiveFileNo" column="archive_file_NO"/>
		<result property="archiveFileFilename" column="archive_file_filename"/>
		<result property="archiveFileUploadpath" column="archive_file_uploadpath"/>
		<result property="archiveFileRealname" column="archive_file_realname"/>
		<result property="archiveNo" column="archive_NO"/>
	</resultMap>
	
	<!-- ArchiveContentVO와 데이터베이스 컬럼명을 일치시켜주는 resultMap인 ArchiveContentMap 선언 -->
	<resultMap type="com.spring.leaf.archive.command.ArchiveContentVO" id="ArchiveContentMap">
		<id property="archiveNo" column="archive_NO" />
		<result property="archiveTitle" column="archive_title"/>
		<result property="archiveWriter" column="archive_writer"/>
		<result property="archiveContent" column="archive_content"/>
		<result property="archiveDate" column="archive_date"/>
		<result property="archiveViews" column="archive_views"/>
		<result property="archiveFileNo" column="archive_file_NO"/>
		<result property="archiveFileRealname" column="archive_file_realname"/>
	</resultMap>
	
	<!-- 자료실 글 등록 INSERT 쿼리 -->
	<insert id="archiveWrite">
		INSERT INTO archive(archive_title, archive_writer, archive_content)
		VALUES (#{archiveTitle}, #{archiveWriter}, #{archiveContent})
	</insert>
	
	<!-- 자료실 파일첨부 INSERT 쿼리 -->
	<insert id="archiveFile">
		INSERT INTO archive_file
			(archive_file_filename, archive_file_uploadpath, archive_file_realname, archive_NO)
		VALUES
			(#{archiveFileFilename}, #{archiveFileUploadpath}, #{archiveFileRealname}, #{archiveNo})
	</insert>
	
	<!-- 자료실 글번호 얻어내는 SELECT 쿼리 -->
	<select id="archiveNoGet" resultType="int">
		SELECT MAX(archive_NO) + 1
		FROM archive;
	</select>
	
	<!-- 자료실 파일첨부 SELECT 쿼리 -->
	<select id="archiveFileGet" resultMap="ArchiveFileMap">
		SELECT *
		FROM archive_file
		WHERE archive_NO = #{archiveNo}
	</select>
	
	<!-- 자료실 목록 SELECT 쿼리 -->
	<select id="archiveList" resultMap="ArchiveMap">
		SELECT *
		FROM archive 
		ORDER BY archive_NO DESC
	</select>
	
	<!-- 자료실 글 상세보기 SELECT 쿼리 -->
	<select id="archiveContent" resultMap="ArchiveContentMap">
		SELECT a.archive_NO, a.archive_title, a.archive_writer, a.archive_content, a.archive_date, a.archive_views, f.archive_file_NO, f.archive_file_realname
		FROM archive a LEFT OUTER JOIN archive_file f
		ON a.archive_NO = f.archive_NO
		WHERE a.archive_NO=#{archiveNo} 
	</select>
	
	<!-- 자료실 글 수정하기 UPDATE 쿼리 -->
	<update id="archiveModify" >
		UPDATE archive
		SET archive_title=#{archiveTitle}, archive_content=#{archiveContent}
		WHERE archive_NO=#{archiveNo}
	</update>
	
	<!-- 자료실 글 삭제하기 DELETE 쿼리 -->
	<delete id="archiveDelete">
		DELETE FROM archive
		WHERE archive_NO=#{archiveNo}
	</delete>
	

		
</mapper>