<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.leaf.company.mapper.ICompanyMapper">

	<!-- CompanyVO와 데이터베이스 컬럼명을 일치시켜주는 resultMap인 CompanyMap 선언 -->
	<resultMap type="com.spring.leaf.company.command.CompanyVO" id="CompanyMap">
		<id property="companyNO" column="company_NO" />
		<result property="companyID" column="company_ID" />
		<result property="companyPW" column="company_PW" />
		<result property="companyName" column="company_name" />
		<result property="companyEmail1" column="company_email1" />
		<result property="companyEmail2" column="company_email2" />
		<result property="companyPhone1" column="company_phone1" />
		<result property="companyPhone2" column="company_phone2" />
		<result property="companyPhone3" column="company_phone3" />
		<result property="companyAddress1" column="company_address1" />
		<result property="companyAddress2" column="company_address2" />
		<result property="companyAddress3" column="company_address3" />
		<result property="companyDate" column="company_date" />
		<result property="companyIntro" column="company_intro" />
		<result property="commonCODE" column="common_CODE" />
	</resultMap>
	
	
	<!-- CompanyLogoVO와 데이터베이스 컬럼명을 일치시켜주는 resultMap인 LogoMap 선언 -->
	<resultMap type="com.spring.leaf.company.command.CompanyLogoVO" id="LogoMap">
		<id property="companyLogoNO" column="company_logo_NO" />
		<result property="companyLogoFilename" column="company_logo_filename" />
		<result property="companyLogoUploadpath" column="company_logo_uploadpath" />
		<result property="companyLogoRealname" column="company_logo_realname" />
		<result property="companyNO" column="company_NO" />
	</resultMap>
	
	
	<!-- CompanyIntroVO와 데이터베이스 컬럼명을 일치시켜주는 resultMap인 IntroMap 선언 -->
	<resultMap type="com.spring.leaf.company.command.CompanyIntroVO" id="IntroMap">
		<id property="companyIntroNO" column="company_intro_NO" />
		<result property="companyIntroFilename" column="company_intro_filename" />
		<result property="companyIntroUploadpath" column="company_intro_uploadpath" />
		<result property="companyIntroRealname" column="company_intro_realname" />
		<result property="companyNO" column="company_NO" />
	</resultMap>
	
	
	<!-- 기업 회원가입 INSERT 쿼리 -->
	<insert id="companyRegist">
		INSERT INTO company
			(company_ID, company_PW, company_name, company_email1, company_email2,
			company_phone1, company_phone2, company_phone3, 
			company_address1, company_address2, company_address3, company_intro)
		VALUES
			(#{companyID}, #{companyPW}, #{companyName}, #{companyEmail1}, #{companyEmail2},
			#{companyPhone1}, #{companyPhone2}, #{companyPhone3},
			#{companyAddress1}, #{companyAddress2}, #{companyAddress3}, #{companyIntro})
	</insert>
	
	
	<!-- 기업 아이디 중복체크 SELECT 쿼리 -->
	<select id="companyIDCheck" resultType="int">
		SELECT COUNT(*)
		FROM company
		WHERE company_ID = #{companyID}
	</select>
	
	
	<!-- 기업 이메일 중복체크 SELECT 쿼리 -->
	<select id="companyEmailCheck" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM company
		WHERE company_email1 = #{company_email1}
		AND company_email2 = #{company_email2}
	</select>
	
	
	<!-- 기업회원 정보 SELECT 쿼리 -->
	<select id="companyGetInfo" resultMap="CompanyMap">
		SELECT *
		FROM company
		WHERE company_ID = #{companyID}
	</select>
	
	
	<!-- 기업회원 기업회원번호 얻어내는 SELECT 쿼리 -->
	<select id="companyNOGet" resultType="int">
		SELECT MAX(company_NO) + 1
		FROM company;
	</select>
	
	
	<!-- 기업회원 로고사진 INSERT 쿼리 -->
	<insert id="companyLogo">
		INSERT INTO company_logo
			(company_logo_filename, company_logo_uploadpath, company_logo_realname, company_NO)
		VALUES
			(#{companyLogoFilename}, #{companyLogoUploadpath}, #{companyLogoRealname}, #{companyNO})
	</insert>
	
	
	<!-- 일반회원 프로필사진 불러오기 SELECT 쿼리 -->
	<select id="companyLogoGet" resultMap="LogoMap">
		SELECT *
		FROM company_logo
		WHERE company_NO = #{companyNO}
	</select>
	
	
	<!-- 기업회원 회사 소개서 INSERT 쿼리 -->
	<insert id="companyIntro">
		INSERT INTO company_intro
			(company_intro_filename, company_intro_uploadpath, company_intro_realname, company_NO)
		VALUES
			(#{companyIntroFilename}, #{companyIntroUploadpath}, #{companyIntroRealname}, #{companyNO})
	</insert>
	
	
	<!-- 회사 소개서 SELECT 쿼리 -->
	<select id="companyIntroGet" resultMap="IntroMap">
		SELECT *
		FROM company_intro
		WHERE company_NO = #{companyNO}
	</select>

</mapper>