<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.spring.leaf.notice.mapper.INoticeMapper">

	<resultMap type="com.spring.leaf.notice.command.NoticeVO" id="NoticeMap">
		<id property="noticeNo" column="notice_NO"/>
		<result property="noticeTitle" column="notice_title"/>
		<result property="noticeWriter" column="notice_writer"/>
		<result property="noticeContent" column="notice_content"/>
		<result property="noticeDate" column="notice_date"/>
		<result property="noticeViews" column="notice_views"/>
	</resultMap>

	<insert id="noticeWrite">
		INSERT INTO notice(notice_title, notice_writer, notice_content)
		VALUES (#{noticeTitle}, #{noticeWriter}, #{noticeContent})
	</insert>
	
	<select id="noticeList" resultMap="NoticeMap">
		SELECT * FROM notice
		ORDER BY notice_NO DESC
	</select>
	
	<select id="noticeContent" resultMap="NoticeMap">
		SELECT * FROM notice
		WHERE notice_NO=#{noticeNo}
	</select>
	
	<update id="noticeModify">
		UPDATE notice
		SET notice_title=#{noticeTitle}, notice_content=#{noticeContent}
		WHERE notice_NO=#{noticeNo}
	</update>
	
	<delete id="noticeDelete">
		DELETE FROM notice
		WHERE notice_NO=#{noticeNo}
	</delete>

</mapper>