<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.leaf.projectapply.mapper.IProjectApplyMapper">
	<insert id="projectapply">
		INSERT INTO apply(user_NO, apply_msg, project_NO)
		VALUES (#{userNO}, #{applyMsg}, #{projectNO})
	</insert>
	
	<select id="projectapply2">
	SELECT * FROM apply;
	</select>

</mapper>