<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.leaf.user.mapper.IUserMypageMapper">

	<!-- UserDetailVO와 데이터베이스 컬럼명을 일치시켜주는 resultMap인 UserDetailMap 선언 -->
	<resultMap type="com.spring.leaf.user.command.UserDetailVO" id="UserDetailMap">
		<id property="userNO" column="user_NO" />
		<result property="userID" column="user_ID" />
		<result property="userName" column="user_name" />
		<result property="userEmail1" column="user_email1" />
		<result property="userEmail2" column="user_email2" />
		<result property="userPhone1" column="user_phone1" />
		<result property="userPhone2" column="user_phone2" />
		<result property="userPhone3" column="user_phone3" />
		<result property="userIntro" column="user_intro" />
		<result property="resumeRealname" column="resume_realname" />
	</resultMap>
	
	
	<!-- CompanyDetailVO와 데이터베이스 컬럼명을 일치시켜주는 resultMap인 CompanyDetailMap 선언 -->
	<resultMap type="com.spring.leaf.company.command.CompanyDetailVO" id="CompanyDetailMap">
		<id property="companyNO" column="company_NO" />
		<result property="companyID" column="company_ID" />
		<result property="companyName" column="company_name" />
		<result property="companyEmail1" column="company_email1" />
		<result property="companyEmail2" column="company_email2" />
		<result property="companyPhone1" column="company_phone1" />
		<result property="companyPhone2" column="company_phone2" />
		<result property="companyPhone3" column="company_phone3" />
		<result property="companyIntro" column="company_intro" />
		<result property="companyAddress1" column="company_address1" />
		<result property="companyAddress2" column="company_address2" />
		<result property="companyAddress3" column="company_address3" />
		<result property="companyIntroRealname" column="company_intro_realname" />
	</resultMap>	


	<!-- 일반회원 유저 정보 SELECT 쿼리 -->
	<select id="getInfo" resultMap="UserDetailMap">
		SELECT 
			u.user_NO, u.user_ID, u.user_name,
		    u.user_email1, u.user_email2,
		    u.user_phone1, u.user_phone2, u.user_phone3,
		    u.user_intro, r.resume_realname
		FROM 
			user u LEFT OUTER JOIN resume r
		ON u.user_NO = r.user_NO
		WHERE u.user_NO = #{userNO}
	</select>
	
	
	<!-- 기업회원 유저 정보 SELECT 쿼리 -->
	<select id="getCompanyInfo" resultMap="CompanyDetailMap">
		SELECT 
			c.company_NO, c.company_ID, c.company_name,
		    c.company_email1, c.company_email2,
		    c.company_phone1, c.company_phone2, c.company_phone3,
		    c.company_intro,
		    c.company_address1, c.company_address2, c.company_address3,
		    ci.company_intro_realname
		FROM 
			company c LEFT OUTER JOIN company_intro ci
		ON
			c.company_NO = ci.company_NO
		WHERE c.company_NO = #{companyNO}
	</select>


	
	<!-- 일반회원 유저 정보 수정 update 쿼리 -->
	<update id="updateUser">
		UPDATE user
		SET
			user_name = #{userName}, user_phone1 = #{userPhone1}, user_phone2 = #{userPhone2}, user_phone3 = #{userPhone3},
			user_intro = #{userIntro}
		WHERE user_NO = #{userNO}
	</update>



</mapper>
